body {
  font-family: 'Lato', sans-serif;
  color: $colorTextDark;
}

.header_block {
  height: $heightHeader;
}

.header {
  width: 100%;
  height: $heightHeader;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: $colorWhite;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

//Для ссылок меню
.menu-link {
  display: block;
  height: 100%;
}

.brand-style {
  color: $colorBrand;
}

.button-brand {
  background: $colorBrand;
  color: $colorWhite;
  font-weight: 400;
  border: 1px solid $colorBrand;

  &:hover {
    color: $colorBrand;
    background: $colorWhite;
  }

  &:active {
    color: $colorWhite;
    background: $colorBrand;
  }
}

.button-brand-white {
  background: $colorWhite;
  color: $colorBrand;
  font-weight: 400;
  border: 1px solid $colorBrand;

  &:hover {
    color: $colorWhite;
    background: $colorBrand;
  }

  &:active {
    color: $colorBrand;
    background: $colorWhite;
  }
}

.button-black {
  display: block;
  border: 1px solid $colorBorderForms;
  background: $colorWhite;
  color: #4a4a4a;

  &:hover {
    border: 1px solid $colorBrand;
    color: $colorBrand;
  }

  &:active {
    background: $colorBrand;
    color: $colorWhite;
  }
}

.icon-drop-list {
  position: absolute;
  top: 50%;;
  left: 100%;
  margin-left: -19px;
  margin-top: -8px;
}

//===================== Pagination ====================

.pagination {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid $colorBorderSidebar;

  &-wrap {
    display: flex;
    justify-content: center;
  }

  &-link {
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;

    &-prev,
    &-next {
      position: relative;
      padding-left: 15px;
      color: #aaaaaa;
    }

    &-prev:before,
    &-next:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        color: #aaaaaa;
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 0;
      }

    &-prev:before {
      content: "\f104";
      transform: translateX(-60%);
    }

    &-next:before {
      content: "\f105";
      transform: translateX(-40%);
    }

    &-dot {
      padding: 10px 0;
    }

    &-prev:hover,
    &-next:hover,
    &-active {
      color: $colorTextRed;
    }
  }
}
