$colorTextDark: #222222;
$colorTextDarkLittleLight: #222224;
$colorTextDarkLighter: #232323;
$colorCarouselControl: rgba(42, 42, 42, 0.2);
$colorCarouselControlHover: rgba(42, 42, 42, 0.5);
$colorTextGray: #a4a4a4;
$colorTextGrayDarker: #9f9f9f;
$colorTextWhiteDarker: #fbfbfb;
$colorTextFooter: #898989;
$colorTextFooterBottom: #7a7a7a;
$colorTextBreadcramb: #636363;
$colorTextSidebar: #6f6e6e;
$colorTextRed: #ef5b70;
$colorBorderSidebar: #ebebeb;
$colorBorderForms: #eaeaea;
$colorLineFilter: #dfdfdf;

$colorMenuBorderHover: #ef5b70;

$colorBrand: #f16d7f;
$colorBorderButton: #e6e6e6;

$colorBgSite: #e8e8e8;
$colorBgButton: #cdcdcc;
$colorBgSliderMenu: #f5f5f5;
$colorBgSubscribe: #eeeeee;
$colorBgEmail: #e1e1e1;
$colorBgBreadcrumb: #f8f3f4;

$colorGradOneButton: #f9f9f9;
$colorGradTwoButton: #f5f5f5;

$colorWhite: #fff;
$colorBlack: #000;

$heightHeader: 100px;
$heightLogoMenu: 51px;
$heightSlider: 665px;
$heightMainMenu: 44px;
$heightSubscribe: 438px;
$heightBreadcrumb: 148px;

$heightImgCards: 280px;
$widthImgCard: 260px;
