.container
  max-width: 1200px
  margin: 0 auto

.header
  padding: 20px 0
  background: gray
  color: white
  &__container
    display: flex
    justify-content: space-between

.product

  &__catalog
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-column-gap: 40px
    grid-template-rows: auto
    margin: 40px auto

  &__card
    padding: 20px
    border: 1px solid gray

  &__btn
    padding: 10px
    color: white
    background: darkgray
    border: none
    border-radius: 10px

.cart
  position: relative

  &__count
    width: 20px
    position: absolute
    top: -5px
    right: -20px
    background: indianred
    border-radius: 50%
    padding: 2px 0
    text-align: center
    line-height: 100%